h1
{
    font-size: 40px;
    text-align: center;
}

h2
{
    font-size: 30px;
    text-align: center;
}

table
{
    border:thick solid gray;
    font-family: Georgia;
    font-size: 50px;
    margin-left : auto;
    margin-right: auto;
    table-layout: fixed;

}

td
{
    text-align: center;
    border: thin solid black;
    padding: 10px;
    width: 70px;
    height: 80px;
}

div {
    text-align: center;
}

button {
    font-size: 25px;
}
